.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

/* .l-right {
	float: right;
} */

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}

/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span,#fp-nav ul li a span:hover, 
.fp-slidesNav ul li a span:hover  {
	background: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 2px), rgba(0,0,0,1) calc(50%), rgba(0,0,0,0) calc(50% + 2px) );
	width: 20px;
	height: 2px;
	margin: -4px 0 0 -4px;
	z-index: 10;
	border-radius: 0;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 30px;
	height: initial;
	font-size: 18px;
	padding-left: 8px;
	font-family: 'DINBold';
	margin: -8px 0 0 -8px;
	box-sizing: border-box;
	z-index: 10;
	background: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 2px), rgba(0,0,0,1) calc(50%), rgba(0,0,0,0) calc(50% + 2px) );
}
#fp-nav.right {
	left: 30px;
}