@font-face {
  font-family: 'GillSans';
  src: local('GillSans'), url(./fonts/GillSans.ttc) format('truetype');
}
@font-face {
  font-family: 'DINBold';
  src: local('DINBold'), url(./fonts/DINCondensedBold.ttf) format('truetype');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'GillSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
